.btn-treehouse {
  color: white;
  padding: 15px 25px;
  border-radius: 25px;
  font-weight: bold;
  background: #1EDD88;
  transition: background 0.3s ease;
  line-height: 50px
}

.btn-treehouse:hover {
  background-color: #386150;
}

